# Exercise 6.2 Exporatory Analysis

## 1. Importing Libraries and Data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

In [2]:
# Check the matplotlib version
matplotlib.__version__

'3.7.1'

In [3]:
# Create folder path
path = r'/Users/peterkim/Document/sql/CareerFoundry/Immersion Prep/6. Advanced Analytics & Dashboard Design/Ex01/Adv_Anal&Dash_Task01/House Sales in KC Analysis'

In [4]:
# Import 'df_haus_cleaned.csv' to make df_haus
df_haus = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_haus_cleaned.csv'), index_col = False)

In [5]:
# Check head
df_haus.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,yr_renovated,zipcode
0,0,7129300520,20141013,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1955,0,98178
1,1,6414100192,20141209,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,1951,1991,98125
2,2,5631500400,20150225,180000.0,2,1.00,770,10000,1.0,0,0,3,6,1933,0,98028
3,3,2487200875,20141209,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1965,0,98136
4,4,1954400510,20150218,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1987,0,98074

In [6]:
# Dropping unnecessary columns
df_haus = df_haus.drop(columns = ['Unnamed: 0'])

In [7]:
# Checking head again
df_haus.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,yr_renovated,zipcode
0,7129300520,20141013,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1955,0,98178
1,6414100192,20141209,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,1951,1991,98125
2,5631500400,20150225,180000.0,2,1.00,770,10000,1.0,0,0,3,6,1933,0,98028
3,2487200875,20141209,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1965,0,98136
4,1954400510,20150218,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1987,0,98074

In [8]:
# Checking correlations between the columns
df_haus.corr()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,yr_renovated,zipcode
id,1.000000,0.009857,-0.016762,0.002475,0.005160,-0.012258,-0.132109,0.018525,-0.002721,0.011592,-0.023783,0.008130,0.021380,-0.016907,-0.008224
date,0.009857,1.000000,0.003033,-0.009619,-0.027523,-0.029791,0.005599,-0.022550,-0.003798,0.001063,-0.046517,-0.031464,0.003248,-0.024070,0.001235
price,-0.016762,0.003033,1.000000,0.315438,0.525138,0.702035,0.089661,0.256794,0.266369,0.397293,0.036362,0.667434,0.054012,0.126434,-0.053203
bedrooms,0.002475,-0.009619,0.315438,1.000000,0.529163,0.591471,0.032811,0.181098,-0.006609,0.081935,0.025428,0.366509,0.159180,0.019621,-0.157100
bathrooms,0.005160,-0.027523,0.525138,0.529163,1.000000,0.754665,0.087740,0.500653,0.063744,0.187737,-0.124982,0.664983,0.506019,0.050739,-0.203866
sqft_living,-0.012258,-0.029791,0.702035,0.591471,0.754665,1.000000,0.172826,0.353949,0.103818,0.284611,-0.058753,0.762704,0.318049,0.055363,-0.199430
sqft_lot,-0.132109,0.005599,0.089661,0.032811,0.087740,0.172826,1.000000,-0.005201,0.021604,0.074710,-0.008958,0.113621,0.053080,0.007644,-0.129574
floors,0.018525,-0.022550,0.256794,0.181098,0.500653,0.353949,-0.005201,1.000000,0.023698,0.029444,-0.263768,0.458183,0.489319,0.006338,-0.059121
waterfront,-0.002721,-0.003798,0.266369,-0.006609,0.063744,0.103818,0.021604,0.023698,1.000000,0.401857,0.016653,0.082775,-0.026161,0.092885,0.030285
view,0.011592,0.001063,0.397293,0.081935,0.187737,0.284611,0.074710,0.029444,0.401857,1.000000,0.045990,0.251321,-0.053440,0.103917,0.084827
condition,-0.023783,-0.046517,0.036362,0.025428,-0.124982,-0.058753,-0.008958,-0.263768,0.016653,0.045990,1.000000,-0.144674,-0.361417,-0.060618,0.003026
grade,0.008130,-0.031464,0.667434,0.366509,0.664983,0.762704,0.113621,0.458183,0.082775,0.251321,-0.144674,1.000000,0.446963,0.014414,-0.184862
yr_built,0.021380,0.003248,0.054012,0.159180,0.506019,0.318049,0.053080,0.489319,-0.026161,-0.053440,-0.361417,0.446963,1.000000,-0.224874,-0.346869
yr_renovated,-0.016907,-0.024070,0.126434,0.019621,0.050739,0.055363,0.007644,0.006338,0.092885,0.103917,-0.060618,0.014414,-0.224874,1.000000,0.064357
zipcode,-0.008224,0.001235,-0.053203,-0.157100,-0.203866,-0.199430,-0.129574,-0.059121,0.030285,0.084827,0.003026,-0.184862,-0.346869,0.064357,1.000000

In [9]:
# Checking columns
df_haus.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'yr_built', 'yr_renovated', 'zipcode'],
      dtype='object')

## 2. Creating Subsets with Columns Relevant to the Questions

1) What is the distribution of house prices in King County, USA?
2) How do types of houses impact the prices?
3) How does the value of the waterfront or view affect house prices?
4) Are any specific ZIP codes in King County known for higher or lower house prices?
5) What is the average size of living space and lot and how does it correlate with the price?
6) How have house prices been influenced by grades or conditions?
7) What is the average age of houses in the dataset, and does that affect prices?

In [10]:
# Making categories of the columns.
types = ['bedrooms', 'bathrooms', 'floors']
sizes = ['sqft_living', 'sqft_lot']
views = ['waterfront', 'view']
status = ['condition', 'grade']
ages = ['yr_built', 'yr_renovated']

In [11]:
# Making subsets
df_all = df_haus[['price', 'bedrooms', 'bathrooms', 'sqft_living', 
                  'sqft_lot', 'floors', 'waterfront', 'view', 
                  'condition', 'grade', 'yr_built', 'yr_renovated', 
                  'zipcode']]

# Making subsets for visualization   
df_types_price = df_haus[['price'] + types]
df_views_price = df_haus[['price'] + views]
df_sizes_price = df_haus[['price'] + sizes]
df_status_price = df_haus[['price'] + status]               
df_ages_price = df_haus[['price'] + ages]

## 3. Create a correlation matrix heatmap (colored)

Discuss what the coefficients in the plot mean in terms of the relationships between the variables.

In [12]:
# Checking current directory
cd = os.getcwd()
cd

'/Users/peterkim/Document/sql/CareerFoundry/Immersion Prep/6. Advanced Analytics & Dashboard Design/Ex02/Adv_Anal&Dash_Task02'

In [14]:
# Create folder path
path = '/Users/peterkim/Document/sql/CareerFoundry/Immersion Prep/6. Advanced Analytics & Dashboard Design/House Sales in KC Analysis'

# Assuming df_all is your DataFrame
correlation_matrix = df_all.corr()
correlation_long = correlation_matrix.reset_index().melt(id_vars='index')
correlation_long.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'correlation_matrix.csv'), index=False)

### a. Create a correlation matrix heatmap (colored) in matplotlib

In [ ]:
# Adding labels and a legend for the large correlation map

# Figure size
f = plt.figure(figsize=(8,8)) 

# Type of plot
plt.matshow(df_all.corr(), fignum=f.number) 

# x axis labels
plt.xticks(range(df_all.shape[1]), df_all.columns, fontsize=10, rotation=90)

# y axis labels
plt.yticks(range(df_all.shape[1]), df_all.columns, fontsize=10)

# Adding a colour legend
cb = plt.colorbar()

# Adding font size
cb.ax.tick_params(labelsize=14)

# Add title
plt.title('Correlation Matrix', fontsize=14) 

# Export
plt.savefig("corr_all.png")

### b. Create a correlation matrix heatmap (colored) in seaborn

In [ ]:
# Creating a subplot with matplotlib
f,ax = plt.subplots(figsize=(20,20))

# Creating the correlation heatmap in seaborn by applying a heatmap onto the correlation matrix and the subplots defined above.
# The `annot` argument allows the plot to
corr = sns.heatmap(df_all.corr(), annot = True, ax = ax) 

# Placing the correlation coefficients onto the heatmap

## 3. Correlation continued, I will make a correlation plot for each of my subset dfs

In [ ]:
#  Type of houses and prices

# Create a subplot with matplotlib
f,ax = plt.subplots(figsize=(7,7))

# Create the correlation heatmap in seaborn by applying a heatmap onto the correlation matrix and the subplots defined above.
# The `annot` argument allows the plot to 
corr = sns.heatmap(df_types_price.corr(), annot = True, ax = ax) 

# Place the correlation coefficients onto the heatmap.

In [ ]:
#  Views and prices

# Create a subplot with matplotlib
f,ax = plt.subplots(figsize=(7,7))

# Create the correlation heatmap in seaborn by applying a heatmap onto the correlation matrix and the subplots defined above.
# The `annot` argument allows the plot to 
corr = sns.heatmap(df_views_price.corr(), annot = True, ax = ax) 

# Place the correlation coefficients onto the heatmap.

In [ ]:
#  Sizes and prices

# Create a subplot with matplotlib
f,ax = plt.subplots(figsize=(7,7))

# Create the correlation heatmap in seaborn by applying a heatmap onto the correlation matrix and the subplots defined above.
# The `annot` argument allows the plot to 
corr = sns.heatmap(df_sizes_price.corr(), annot = True, ax = ax) 

# Place the correlation coefficients onto the heatmap.

In [ ]:
#  Conditions and prices

# Create a subplot with matplotlib
f,ax = plt.subplots(figsize=(7,7))

# Create the correlation heatmap in seaborn by applying a heatmap onto the correlation matrix and the subplots defined above.
# The `annot` argument allows the plot to 
corr = sns.heatmap(df_status_price.corr(), annot = True, ax = ax) 

# Place the correlation coefficients onto the heatmap.

In [ ]:
#  Ages and prices

# Create a subplot with matplotlib
f,ax = plt.subplots(figsize=(7,7))

# Create the correlation heatmap in seaborn by applying a heatmap onto the correlation matrix and the subplots defined above.
# The `annot` argument allows the plot to 
corr = sns.heatmap(df_ages_price.corr(), annot = True, ax = ax) 

# Place the correlation coefficients onto the heatmap.

## 4. Create a scatterplot (or plots) for the variables with the strongest correlations and examine the nature of their relationships.

In [ ]:
# Making a scatter plot of prices and number of bedrooms
sns.lmplot(x = 'price', y = 'bedrooms', data = df_haus)

In [ ]:
# Making a scatter plot of prices and number of bathrooms
sns.lmplot(x = 'price', y = 'bathrooms', data = df_haus)

In [ ]:
# Making a scatter plot of prices and size of living area
sns.lmplot(x = 'price', y = 'sqft_living', data = df_haus)

In [ ]:
# Making a scatter plot of prices and total land size
sns.lmplot(x = 'price', y = 'sqft_lot', data = df_haus)

In [ ]:
# Making a scatter plot of prices and the number of floors
sns.lmplot(x = 'price', y = 'floors', data = df_haus)

## 5. Create a pair plot of the entire data set.

In [ ]:
# Create a pair for price by the type of the house
g = sns.pairplot(df_types_price)

In [ ]:
# Create a pair for price by the view
g = sns.pairplot(df_views_price)

In [ ]:
# Create a pair for price by the size of the house
g = sns.pairplot(df_sizes_price)

In [ ]:
# Create a pair for price by the conditions of the house
g = sns.pairplot(df_status_price)

In [ ]:
# Create a pair for price by the ages of the house
g = sns.pairplot(df_ages_price)

## 6. Create a categorical plot and interpret the results.

In [ ]:
# Create a histogram for yearly percentage
sns.histplot(df_haus['yr_built'], bins = 50, kde = True)

In [ ]:
# Create a histogram for yearly percentage
sns.histplot(df_haus['price'], bins = 5000, kde = True)

### Create categories of the price

less than 300k - low price group     
300k-750k - mid price group     
more than 750k - high price group

In [ ]:
df_haus.loc[df_haus['price'] < 350000, 'Price Group'] = 'Low Price Group'

In [ ]:
df_haus.loc[(df_haus['price'] >= 350000) & (df_haus['price'] < 700000), 'Price Group'] = 'Mid Price Group'

In [ ]:
df_haus.loc[df_haus['price'] >= 700000, 'Price Group'] = 'High Price Group'

In [ ]:
# Check the column
df_haus['Price Group'].value_counts(dropna = False)

In [ ]:
df_haus['price'].value_counts(dropna = False)

In [ ]:
sns.set(style="ticks")
g = sns.catplot(x="yr_renovated", y="price", hue="Price Group", data=df_haus)

## 7. Revisit the questions you generated in the previous task and write answers to those you can based on the exploration you’ve conducted so far. Add any new questions that may have arisen based on the early findings in your visual exploration.

### Existing Questions
1) What is the distribution of house prices in King County, USA?
2) How do types of houses impact the prices?
3) How does the value of the waterfront or view affect house prices?
4) Are any specific ZIP codes in King County known for higher or lower house prices?
5) What is the average size of living space and lot and how does it correlate with the price?
6) How have house prices been influenced by grades or conditions?
7) What is the average age of houses in the dataset, and does that affect prices?

### New Questions
1) How has the average house price in King County changed over time? 
2) Is there any seasonality in house sales?
3) What are the most common types of houses in the dataset?

## 8. Define any hypotheses that you can at this point. You’ll be testing these later on.

The average price of houses with a waterfront are higher than the price of houses without a waterfront.

The average price of houses with a larger living space are higher than the price of houses with a smaller living space.

The average price of houses with a higher grade are higher than the price of houses with a lower grade.

The average price of houses with a younger age are higher than the price of houses with a older age.